.mat-card-image {
  width: 265px;
  height: 200px;
  margin: 0px 0px 20px 0px;
}

.owning-header-image {
  background-image: url('../../assets/images/Tick.svg');
  background-size: cover;
}

.missing-header-image {
  background-image: url('../../assets/images/RedCross.svg');
  background-size: cover;
}
