.flex-container {
  display: flex;
  flex-flow: row wrap;
}

ul {
  list-style-type: none;
  margin:0;padding:0;

  li {
  //     background: #F2F2F2;
  //     border-radius: 8px;
       padding: 10px;
       margin-bottom: 0px;
   }
}
